.main-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-loop {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
}

.image-loop img {
  position: absolute;
  width: 65%;
  border-radius: 0.2em;
  top: 0;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  animation: dissolve 37.5s infinite;
  overflow: hidden;
  z-index: -1;
}

@media (max-width: 1000px) {
  .image-loop img {
    width: 100vw;
    height: auto;
    max-height: 100vh; 
    left: 50%; 
    transform: translateX(-50%); 
  }
}

.image-loop img:nth-child(2) {
  animation-delay: 0s; 
}

.image-loop img:nth-child(3) {
  animation-delay: 5s; 
}

.image-loop img:nth-child(4) {
  animation-delay: 10s; 
}

.image-loop img:nth-child(5) {
  animation-delay: 15s; 
}

.image-loop img:nth-child(6) {
  animation-delay: 20s; 
}

.image-loop img:nth-child(7) {
  animation-delay: 25s;
}

.image-loop img:nth-child(1) {
  animation-delay: 30s; 
}

@keyframes dissolve {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  36% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
