@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Futura PT Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Futura PT Medium'), url('../../../../public/fonts/FuturaCyrillicDemi.woff') format('woff');
}

@font-face {
  font-family: 'Alata-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Alata'), url('../../../../public/fonts/Alata-Regular.ttf') format('ttf');
}

.nav-container {  
  font-family: 'Archivo Black', sans-serif;
  font-style: normal;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 50px 0 15px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 83px;

  .nav-logo {
    margin-right: 20px;
  }
  
  .nav-logo img {
    width: 30px;
  }

  &.show-menu {
    height: 170px;
  }
}

.width-section {
  height: 95px;
}

.navigation-link {
  height: 20px;
  margin: auto;
  color: black;
  font-family: 'Futura PT Medium', 'Alata';
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s ease;
}

.navigation-links {
  margin-right: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.nav-logo {
  width: 200px;
  position: absolute;
  top: 15px;
}

.space-between1 {
  width: 45%;
}

a:hover {
  color: #cba70a;
}

.mobile-menu {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: none;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-width: 100%;
    height: 60px;
    padding: 20px; 
  }

  .nav-logo {
    width: 200px;
  }

  .menu-icon {
    display: block; 
    position: absolute;
    top: 40px; 
    right: 90px; 
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    pointer-events: auto;
  }

  .navigation-links {
    display: none;
    margin-right: 0;
  }

  .navigation-link {
    height: 20px;
    margin: 12px 0;
    font-size: 17px;
    text-align: center;
    font-style: normal;
    font-weight: 300;
  }

  .show-menu {
    &.nav-container {
      height: 180px;
    }

    &.navigation-links {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 75px;
      right: 75px;
      margin-top: 5px;
      border-radius: 15px;
      gap: 0;
    }

    .menu-icon {
      top: 40px; 
      right: 90px;

      .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }

      .bar:nth-child(2) {
        opacity: 0;
      }

      .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }

  .width-section {
    height: 100px;
    &.show-menu {
      height: 223px;
    }
  }
}
