.nav-container {
  font-style: normal;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 50px 0 15px;
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 83px;
  
  .nav-logo img {
    width: 60px;
    margin-right: 20px;
  }

  &.show-menu {
    height: 170px;
  }
}

/* .width-section {
  height: 295px;
  z-index: 50;
  background-color: transparent;
} */

.navigation-link {
  height: 20px;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Futura PT Book', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 400;
  transition: 0.2s ease;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: #cba70a;
  }
}

.nav-logo {
  width: 200px;
  position: absolute;
  top: 15px;
}

.space-between1 {
  width: 45%;
}

.mobile-menu {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: none;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #d8d7d7;
  margin: 4px 0;
  transition: 0.4s;
}

.navigation-links {
  margin-right: 50px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navbar-title {
  display: none;
}

@media (max-width: 768px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-width: 100%;
    height: 105px;
    padding: 20px; 
  }

  .nav-logo {
    width: 200px;
  }

  .menu-icon {
    display: block; 
    position: absolute;
    top: 40px; 
    right: 90px; 
    cursor: pointer;
    position: absolute;
  }

  .navigation-links {
    display: none;
  }

  .navigation-link{
    height: 20px;
    margin: 18px 0;
    font-size: 17px;
    text-align: center;
    font-style: normal;
    font-weight: 300;
  }

  .show-menu {
    &.nav-container {
      height: 220px;
    }

    &.navigation-links {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 75px;
      right: 3%;
      gap: 6%;
      margin-top: 5px;
      border-radius: 15px;
    }

    .menu-icon {
      top: 40px; 
      right: 90px;

      .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }

      .bar:nth-child(2) {
        opacity: 0;
      }

      .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }

  .navbar-title {
    font-family: "Comfortaa";
    display: block;
    position: absolute;
    top: 80px;
    left: 40px;
    font-size: 25px;
    animation: glowing 10s infinite;
  }

  @keyframes glowing {
    0% { color: white; text-shadow: 0 0 10px white; }
    50% { color: rgb(255, 255, 158); text-shadow: 0 0 20px yellow; }
    100% { color: white; text-shadow: 0 0 10px white; }
  }
}
