@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  padding-right: 70px;
  padding-top: 20px;
  padding-left: 15px;
}

.navigation-link {
  height: 30px;
  margin-top: 25px;
  font-family: 'century-gothic';
  text-decoration: none;
  src: "https://use.typekit.net/oov2wcw.css";
  font-size: 23px;
  transition: 0.2s ease;
  color: black;
}

.nav-logo {
  width:fit-content;
}

.space-between1 {
  width: 45%;
}


a:hover {
  color: #cba70a;
}