@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=League+Script&family=Oooh+Baby&display=swap');

@font-face {
  font-family: 'Futura PT Book';
  font-style: normal;
  font-weight: normal;
  src: local('Futura PT Book'), url('../../../public/fonts/FuturaCyrillicBook.woff') format('woff');
}

@font-face {
  font-family: 'Alata-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Alata'), url('../../../public/fonts/Alata-Regular.ttf') format('ttf');
}

.about-page-main-container {
  padding-top: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.about-text-container {
  max-width: 80%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

p {
  overflow: hidden;
  font-size: 100%;
  width: 0;
  line-height: 1.3em;
  white-space: nowrap;
  margin: 2% 0;
  font-family: 'Futura PT Book', 'Alata';
  font-weight: 200;
}

.typewriter-text {
  display: inline-block;
  font-family: 'Futura PT Book';
}

.typewriter-text p {
  animation: typing 2s linear forwards;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
}

.typewriter-text:last-of-type p {
  animation-duration: 0.5s;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.shift-text-up {
  opacity: 0;
  animation: slideUp 1s forwards;
}

.shift-text-up p {
  text-align: center;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .about-text-container {
    max-width: 100%;
    padding: 20px; 
    white-space: normal; 
  }

  p {
    margin: 10px 0;
    width: auto;
    font-size: 14px;
    font-weight: 500;
    margin: 2.5% 0;
  }
}


@media (max-width: 510px) {
  p {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .rebecka-text {
    font-weight: 400;
  }
}
@media (max-width: 455px) {
  p {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  p {
    font-size: 8px;
    font-weight: 600;
  }
}
