@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.about-page-main-container {
  padding-top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.about-text-container {
  max-width: 80%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

p {
  overflow: hidden;
  font-size: 13px;
  width: 0;
  line-height: 1.3em;
  white-space: nowrap;
  margin: 10px 0;
  font-family: 'Alata';
  font-weight: 200;
}

.typewriter-text {
  display: inline-block;

  p {
    animation: typing 2s steps(40, end) forwards;
  }

  &:last-of-type {
    p {
      animation-duration: 0.5s;
    }
  }
}

.shift-text-left {
  display: inline-block;
  animation: slideLeft 1s forwards;
  opacity: 0;
  p {
    width: 100%;
  }
}

.shift-text-right {
  display: inline-block;
  animation: slideRight 1s forwards;
  opacity: 0;
  p {
    width: 100%;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media (max-width: 768px) {

  .about-text-container {
    max-width: 100%;
    padding: 20px; 
    white-space: normal; 
  }

  p {
    margin: 10px 0;
    width: 0;
    font-size: 0.55rem; 
    font-weight: 500;
  }
}
