.pricing-page-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 180vh;
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(9, 0, 41));
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  font-family: "Futura PT Medium";
  color: white;
}

.pricing-title {
  font-size: 300%;
  text-align: center;
  padding: 15vh 0 0 0;
  margin-bottom: 5%;
  transition: padding 1s ease-in-out;
}

@media (max-width: 760px) {
  .pricing-title {
    padding: 20vh 0 0 0;
  }
}

.pricing-list {
  margin: 0 0 5% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
} 

.pricing-1-container {
  display: inherit;
  flex-direction: row;
  height: 50%;
}

.pricing-2-container {
  margin: 6% 0;
  display: inherit;
  flex-direction: row;
  justify-content: flex-end;
}

.pricing-1-image-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  padding: 0vh 0;
  width: 45%;
  img {
    width: 80%;
    border-radius: 0.1em;
  }
}

.pricing-2-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 45%;
  img {
    width: 80%;
    border-radius: 0.1em;
  }
}

.pricing-1, .pricing-2 {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  width: 55%;
  ul {
    margin: 5vh 2vw 0 2vw;
    li {
      margin: 2% 0;
      font-size: 2vw;
    }
  }
}

.pricing-1 {
  p {
    margin: 5vh 0vh 0 2vh;
    font-size: 2vw;
  }
}

.pricing-2 {
  align-items: center;
}

.pricing-1-title, .pricing-2-title {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  h2 {
    text-align: center;
    font-size: 3.2vw;
    margin: 2vw 0;
  }

  h3 {
    text-align: center;
    font-size: 2.2vw;
    margin: 0;
  } 
}

.pricing-footer {
  height: 100px;
  border: 1px solid pink;
} 
