.pricing-page-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 500vh;
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(9, 0, 41));
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  font-family: "Futura PT Medium";
  color: white;
}

.pricing-title {
  font-size: 300%;
  text-align: center;
  padding: 15vh 0 0 0;
  margin-bottom: 5%;
  transition: padding 1s ease-in-out;
}

@media (max-width: 760px) {
  .pricing-title {
    padding: 20vh 0 0 0;
  }
}

.pricing-list {
  margin: 0 0 5% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
} 

.pricing-1-container {
  display: inherit;
  flex-direction: row;
  height: 50%;
}

.pricing-2-container {
  margin: 6% 0;
  display: inherit;
  flex-direction: row;
  justify-content: flex-end;
}

.pricing-3-container {
  display: inherit;
  flex-direction: row;
  height: 50%;
}

.pricing-1-image-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  padding: 0vh 0;
  width: 45%;
  img {
    width: 80%;
    border-radius: 0.1em;
  }
}

.pricing-2-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 45%;
  img {
    width: 80%;
    border-radius: 0.1em;
  }
}
.pricing-3-image-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  padding: 0vh 0;
  width: 45%;
  img {
    width: 80%;
    border-radius: 0.1em;
  }
}


.pricing-1, .pricing-2, .pricing-3 {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  width: 55%;
  ul {
    margin: 5vh 2vw 0 2vw;
    li {
      margin: 2% 0;
      font-size: 2vw;
    }
  }
}

.pricing-1 {
  p {
    margin: 5vh 0vh 0 2vh;
    font-size: 2vw;
  }
}

.pricing-2 {
  align-items: center;
}

.pricing-3 {
  p {
    margin: 5vh 0vh 0 2vh;
    font-size: 2vw;
  }
}

.pricing-1-title,
.pricing-2-title,
.pricing-3-title {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Aligning titles center horizontally */
  text-align: center; /* Centering text within the container */
}

.pricing-1-title h2,
.pricing-2-title h2,
.pricing-3-title h2 {
  text-align: center;
  font-size: 4vw; /* Adjust the font size to your preference */
  margin: 2vw 0; /* Adjust the margin if needed */
}

.pricing-1-title h3,
.pricing-2-title h3,
.pricing-3-title h3 {
  text-align: center;
  font-size: 3vw; /* Adjust the font size to your preference */
  margin: 0; /* Adjust the margin if needed */
}


.pricing-footer {
  height: auto; /* Remove fixed height to allow content to adjust height */
  width: 90%; /* Adjust the width to fit smaller screens */
  border: 0px solid pink;
  text-align: center; 
  margin: 20px auto; /* Add margin for better spacing */
  padding: 20px; /* Add padding for better spacing */
  font-size: 16px; /* Adjust the font size for better readability on mobile */
}

@media (max-width: 768px) {
  .pricing-footer {
    font-size: 14px; /* Further adjust font size for smaller screens */
    margin: 10px auto; /* Adjust margin for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}
  