.background-image {
  width: 100%;
  position: fixed;
  z-index: -100;
}

.pricing-page-container {
  position: relative;
  z-index: -1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  font-family: "Futura PT Medium";
  color: white;
}

.pricing-title {
  font-size: 3vw;
  font-weight: 100;
  text-align: center;
  padding: 15vh 0 0 0;
  margin-bottom: 5%;
  transition: padding 1s ease-in-out;
}

.pricing-list {
  margin: 0 0 5% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
} 

.pricing-1-container,
.pricing-2-container,
.pricing-3-container {
  display: inherit;
  flex-direction: row;
  gap: 4%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.pricing-2-container {
  margin: 5% 0;
}

.pricing-1-image-container,
.pricing-2-image-container,
.pricing-3-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 45%;
  img {
    width: 70%;
    border-radius: 0.1em;
    border: 2px solid black;
  }
}

.pricing-1-image-container,
.pricing-3-image-container {
  justify-content: baseline;
  padding: 0;
}

.pricing-1-title,
.pricing-2-title,
.pricing-3-title {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    text-align: center;
    font-size: 3vw;
    font-weight: 100;
    margin: 15px;
  }
  h3 {
    text-align: center;
    font-size: 2.5vw;
    margin: 0;
  }
}

.pricing-1, .pricing-2, .pricing-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 45%;
  margin: 2% 0;
  height: 35vw;
  ul {
    margin: 3vw 2vw 0 2vw;
    li {
      margin: 2% 0;
      font-size: 1.5vw;
      line-height: 40px;
    }
  }
}

.pricing-footer {
  height: auto;
  width: fit-content;
  border: 1px solid rgb(73, 57, 59);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 5px;
  text-align: center; 
  margin: 5% 3% 2% 3%;
  padding: 30px 15%;
  h4 {
    font-size: 1.8vw;
    font-weight: 500;
  }
  p {
    font-size: 1.3vw;
    text-wrap: wrap;
    line-height: 15px;
    &:last-of-type {
      margin-bottom: 5%;
    }
  }
}

@media (max-width: 768px) {
  .pricing-title {
    padding: 20vh 0 0 0;
    font-size: 3vw;
  }

  .pricing-1-title,
  .pricing-2-title,
  .pricing-3-title {
    margin: 2vw;
  }

  .pricing-1-image-container,
  .pricing-2-image-container,
  .pricing-3-image-container {
    img {
      width: 90%;
      border-radius: 0.1em;
    }
  }

  .pricing-1, 
  .pricing-2, 
  .pricing-3 {
    height: 50vw;
    h2 {
      margin: 5px;
    }
    ul {
      margin: 4vh 2vw 0 2vw;
      li {
        margin: 2% 0;
        font-size: 70%;
        line-height: 20px;
      }
    }
  }

  .pricing-footer {
    margin: 5% 10px;
    padding: 10%;
    p {
      font-size: 2vw;
    }
  }
}

@media (max-width: 500px) {
  .pricing-1-title,
  .pricing-2-title,
  .pricing-3-title {
    margin: 4vw;
  }

  .pricing-1, 
  .pricing-2, 
  .pricing-3 {
    margin: 10% 0;
    h2 {
      margin: 5px;
    }
    ul {
      margin: 0;
      li {
        margin: 2% 0;
        font-size: 50%;
        line-height: 15px;
      }
    }
  }
}

.slide-up {
  opacity: 0;
}

.show {
  animation: fade-in 1.2s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
  