@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.page-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(9, 0, 41));
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Comfortaa";
  font-size: 120px;
  color: white;
  text-align: center;
  animation: glowing 10s infinite;
  margin-top: 150px;
}

@keyframes glowing {
  0% { color: white; text-shadow: 0 0 10px white; }
  50% { color: rgb(255, 255, 158); text-shadow: 0 0 20px yellow; }
  100% { color: white; text-shadow: 0 0 10px white; }
}

.masonry-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  justify-content: center;
  gap: 10px;
  margin-top: 45px;
}

.masonry-column {
  height: fit-content;
  width: 22%;
}

.masonry-column:first-of-type {
  padding: 200px 0 100px 0;
}

.masonry-column:nth-of-type(2) {
  padding: 0 0 300px 0;
}

.masonry-column:nth-of-type(3) {
  padding: 120px 0 180px 0;
}

.masonry-column:nth-of-type(4) {
  padding: 300px 0 0 0;
}

.masonry-image {
  width: 100%;
  border: 5px solid black;
  height: auto;
}

.headshot-collection {
  width: 45%;
  margin: -20px 0 100px 0;
}

@media (max-width: 768px) {
  .headshot-collection {
    width: 70%;
    margin: 200px 0;
  }

  h1 {
    position: absolute;
    top: -50px;
    left: 38px;
    font-size: 25px;
  }

  .masonry-container {
    margin-top: 220px;
  }
}
