.background-image {
  width: 100%;
  position: fixed;
  z-index: -100;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 250px;
}

.linkedin {
  margin-right: 30px;
  margin-left: 30px;
}

.instagram {
  margin-left: 300px;
  margin-right: 30px;
}
.email {
  margin-right: 300px;
  margin-left: 16px;
}

.logo {
  width: 200px;
  height: 200px;
}

.arrow-back {
  font-size: 70px;
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .instagram,
  .linkedin,
  .email {
    margin: 10px;
  }
  
  .logo {
    width: 100px;
    height: 100px;
  }
}
