.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.linkedin {
  margin-top: 100px;
  margin-right: 30px;
  margin-left: 30px;
}

.instagram {
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 30px;
}
.email {
  margin-top: 100px;
  margin-right: 300px;
  margin-left: 16px;
}

.logo {
  width: 200px;
  height: 200px;
}

.arrow-back {
  font-size: 70px;
  text-decoration: none;
  color: black;
}


/* Styles for screens with a maximum width of 768px (typical mobile screens) */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column; /* Stack items vertically for smaller screens */
    align-items: center; /* Center items horizontally */
  }

  /* Adjust margin and padding for smaller screens */
  .instagram,
  .linkedin,
  .email {
    margin: 10px; /* Adjust margins for spacing between elements */
  }

  .typewriter {
    max-width: 100%; /* Adjust as needed for smaller screens */
    padding: 20px; /* Adjust padding for better spacing on smaller screens */
    font-size: 1em; /* Adjust font size for smaller screens */
    white-space: normal; /* Allow text to wrap on smaller screens */
    text-align: center; /* Center text on smaller screens */
  }

  .about-text {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
  
  .logo {
    width: 100px; /* Adjust the size of the logo for smaller screens */
    height: 100px;
  }
  
  .arrow-back {
    font-size: 40px; /* Adjust font size for smaller screens */
  }
}
